button{
	border: none;
	border-radius: 7px;
	font-family: sans-serif;
	color: #424242;
	font-size: 40px;
	padding: 20px 40px;
	background: #CCFFCC;
	display: inline-block;
	float: left;
}
p{
	display: inline-block;
	float: left;
	font-family: sans-serif;
	font-size: 10px;
	margin-top: 5px;
}
